.video-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

img.video-image {
    width: 1280px;
    height: 720px;
}

canvas {
    z-index: 999;
    position: absolute;
    /* top: 43%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container {
    position: absolute;
    bottom: 7%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button.control-button {
    height: 5vh;
    padding: 0 5%;
    border-radius: calc(5vh / 2);
    background-color: #3866E6;
    color: #FFFFFF;
    font-family: 'Maax Trial';
    font-size: 1.4vh;
    font-weight: 600;
}

button.control-button:not(:last-child) {
    margin-right: 20px;
}

button.control-button.active {
    background-color: #BEC3D1;
    color: #424755;
}